# Prerequisites
.d

# Compiled Object files
.slo
.lo
.o
.obj

# Precompiled Headers
.gch
.pch

# Compiled Dynamic libraries
.so
.dylib
.dll

# Fortran module files
.mod
.smod

# Compiled Static libraries
.lai
.la
.a
.lib

# Executables
.exe
.out
.app

# Projects Relative
x64
Debug
GlogDemo/Debug
XInfer/x64
XVisual/x64
XInfer/logs
XInfer/InferLog
XInfer/main_V0.cpp
XInfer/main_V1.cpp
XVisual/logs
.vs

#logs
logs